.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: bold;
    margin: 0 0 .5em;
    color: rgb(36, 42, 49);
}

/* .md-typeset ol li, .md-typeset ul li {
    /* margin-bottom: 0em; */
/* } */

.md-typeset ul, .md-typeset ol {
    margin: 1em 0;
    margin-top: .5em;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
}

.md-typeset h2+h3 {
    margin-top: .5em;
}

.md-typeset {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.625;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}


.md-typeset a {
    color:rgb(255, 55, 55);
}

.md-typeset h1 { 
    border-bottom: 1px solid black;
    font-size: 40px;
}

